@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind', sans-serif;
    color: #8c8c8c;
}

/* Positioning the logo and the menu using display */

header {
    display: flex;
    justify-content: space-between;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #8c8c8c;
}

/* Remove the underline */

#logo {
    text-decoration: none;
    margin: 30px;
}

#logo a {
    text-decoration: none;
}

/* Menu */

#menu {
    display: flex;
}

#menu li {
    list-style-type: none;
    margin: 30px;
}

#menu a {
    color: inherit;
    text-decoration: none;
    font-size: 2em;
}

#menu a:hover {
    background-color: #8c8c8c;
    color: #fff;
}

/* Adds a line under the menu a to help the user locate himself within the site */
.current {
    border-bottom: 1px solid #8c8c8c;
}

/* about section */

section {
    display: flex;
}

#about {
    margin: 30px;
    width: 50%;
}

#photo {
    margin: 30px;
    width: 50%;
    display: flex;
    justify-content: end;
}

/* Download CV section */

#cv-download {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.fa-file-arrow-down {
    font-size: 60px;
    color: #8c8c8c;
}

#download-icon {
    text-align: center;
}

#cv-download p {
    font-size: 1.5rem;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #3a3a3a;
}

